{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Mufiend🎬 {% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}

<h1>{{ head }}</h1>
<br><br><br><br>

{% if head=="followers" %}

  {% for follower in someone.followers %}
    <a href="{{ url_for('get_someone_profile', name=follower.name, id=follower.id) }}">{{follower.name}}</a>
  {% endfor %}

{% elif head=="follows" %}

  {% for follow in follows_list %}
    <a href="{{ url_for('get_someone_profile', name=follow.name, id=follow.id) }}">{{follow.name}}</a>
  {% endfor %}



{% endif %}

{% endblock %}