{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Mufiend🎬 {% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
{% include 'header.html' %}
<div class="nothead">

<h1>Comments</h1>
<br><br><br><br>

{% include 'cart.html' %}

    <div class="row">
{% for comment in cart.comments|reverse %}
    <div class="commentt col-lg-6">
    <a href="{{ url_for('get_someone_profile', name=comment.commenter.name, id=comment.commenter.id) }}">{{comment.commenter.name}}</a>
    <p class="textt">{{ comment.text }}</p>
    {% if current_user.id == comment.commenter.id or current_user.id == comment.cart.author.id%}
        <a href="{{url_for('delete_comment', comment_id=comment.id)}}">Delete Comment</a>
    {% endif %}
    <br><br><br>
    </div>
{% endfor %}
    </div>
</div>
{% endblock %}